/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-header-left-clicked {
  background-color: #f2f2f2;
  border-bottom: 3px solid #555;
  color: #0d6efd;
  font-weight: 500;
  border-top-left-radius: 20px;
}

.bg-header-clicked {
  background-color: #f2f2f2;
  border-bottom: 3px solid #555;
  color: #0d6efd;
  font-weight: 500;
}

.hover-bg-header-left-change:hover {
  background-color: #f2f2f2;
  border-bottom: 3px solid #555;
  color: #0d6efd;
  border-top-left-radius: 20px;
}

.hover-bg-header-change:hover {
  background-color: #f2f2f2;
  border-bottom: 3px solid #555;
  color: #0d6efd;
}

.row-bg-clicked {
  background-color: #c2dbff;
}

.hover-row-bg-change {
  background-color: #f2f6fc;
  border-bottom: 1px solid #e1e7ee;
}

.hover-row-bg-change:hover {
  background-color: #c2dbff; /* Change to the desired background color on hover */
  border-bottom: 1px solid #e1e7ee;
}

.overflow-scroll {
  overflow-y: auto; /* Enable vertical scroll when content overflows */
  overflow-x: hidden;
}

.icon-default-sz {
  width: 16px;
  height: 16px;
}

.avatar-default-sz {
  width: 48px;
  height: 48px;
}

/* Custom Image Upload Button Style */
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.no-outline {
  border: none;
  box-shadow: none;
  outline: none;
}

.profile-avatar {
  border: 2px solid #55555555;
  padding: 1px 1px;
}

/* Add New User Input Box Style */
.user-input-box {
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(165, 165, 165);
  padding: 8px;
  outline: none;
  height: 64px;
}

.user-input-title-box {
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  padding: 5px;
  outline: none;
  width: 200px;
}

/* Row Send Button Style */
.row-send-btn {
  padding: 0px 10px 0px 10px;
  background: #a3a3a355;
  border-radius: 18px;
}
.row-send-btn:hover {
  padding: 0px 10px 0px 10px;
  background: #a3a3a3;
  border-radius: 18px;
}

.row-remove-btn {
  padding: 5px 5px;
  background: #a3a3a355;
  border-radius: 18px;
}
.row-remove-btn:hover {
  padding: 5px 5px;
  background: #a3a3a3;
  border-radius: 18px;
}

/* default Component background */
.default-component-back {
  background-color: white;
  border-radius: 18px;
  padding-top: 25px;
}

/* default util style */
.default-border-raidus {
  border-radius: 18px;
}
