/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-header-clicked {
  background-color: #f2f2f2;
  border-bottom: 3px solid #555;
  color: #0d6efd;
  font-weight: 500;
}

.hover-bg-header-change:hover {
  background-color: #f2f2f2;
  border-bottom: 3px solid #555;
  color: #0d6efd;
}

.row-bg-clicked {
  background-color: #eee;
}

.hover-row-bg-change:hover {
  background-color: #eee; /* Change to the desired background color on hover */
}

.overflow-scroll {
  overflow-y: auto; /* Enable vertical scroll when content overflows */
  overflow-x: hidden;
}
